<div style="margin-left: 50px; margin-top 20px">
  <input style="width: 100px; border: 1px solid black; margin-right: 5px" type="text" id="zip_code_input" />
  <button id="search-zip" data-zip="{{classification_id}}" class="btn btn-blue">
    Search Zip Code
  </button>

  <h1>Events for ticket classification: {{classification_name}}</h1>
  <h1>Events for zip code: {{zip_code}}</h1>

  {{#each events}}
  <div style="margin-bottom: 30px; padding: 10px">
    <img style="max-height: 100px; margin-top: 10px; margin-bottom: 10px;" src={{imageUrl}} alt="Event image"></img>
    <div>
      <h2>{{name}}</h2>
      <div> Start Date: {{start_date}}</div>
    </div>
    <button class="btn btn-blue dynamicButton" data-id={{id}} data-name={{name}}>
      <a href="/event/{{id}}?classification_id={{classification_id}}">
        See Details
      </a>
    </button>
  </div>
  {{/each}}
</div>

<script src="/js/events.js"></script>