<header>
    {{!-- Classification Title - Need to add when clicked it takes you back to the category handlebar--}}
     <section id="classification-title-section"
    class="w-full bg-cover bg-center py-32"
    {{!-- style="background-image: url('https://source.unsplash.com/photos/lOGJiIlZFBI');"
  > --}}>
    <div class="container mx-auto text-center text-white">
      <h1 id='classification-title' class="text-5xl font-medium mb-6">Theater and Arts</h1>
      </section>
      {{!-- Image URL of the event --}}
      <img src='{{imageURL}}'>

      <div>
        <h3>{{event}}</h3>
        <h3>{{date}}</h3>
        <h4>{{venue}} 
            <br>{{address}}
            <br>{{city}},{{state}} {{zip}}</h4>
        </div>
    </div>
  
</header>

<div>
    <br>
    <h3>
    Event Details:
    </h3>
        <p>Details Here</p>
        <br>
  
    <h5>
        Ticket Information: 
    </h5>
    <p>Price Ranges: {{price.min}} - {{price.max}}</p>
    <br>

    <img src={{seatMap}} alt="Seat Map">
    <p> For ticket availability visit Ticket Master: <a href='{{ticketmaster_url}}'>Click Here</a></p>
</div>

<button id="save-btn">Save Event</button>


<script src="/js/eventpage.js"></script>