<div class="row">
  <div class="col-auto">
    <h1 id="welcomeMessage">Welcome, {{first_name}}!</h1>
  </div>
</div>

{{! My Profile }}
<div>
  <div class="md:grid grid-cols-4 grid-rows-2 bg-white gap-2 p-4 rounded-xl">
    <div class="md:col-span-1 h-48 shadow-xl">
      <div class="flex w-full h-full relative">
        <img
          src="https://res.cloudinary.com/dboafhu31/image/upload/v1625318266/imagen_2021-07-03_091743_vtbkf8.png"
          class="w-44 h-44 m-auto"
          alt=""
        />

      </div>
    </div>
    <div class="md:col-span-3 h-48 shadow-xl p-4 space-y-2 p-3">
      <div class="flex">
        <span
          class="text-sm border bg-blue-50 font-bold uppercase border-2 rounded-l px-4 py-2 bg-gray-50 whitespace-no-wrap w-2/6"
        >Name: {{first_name}} {{last_name}}</span>
      </div>
      <div class="flex">
        <span
          class="text-sm border bg-blue-50 font-bold uppercase border-2 rounded-l px-4 py-2 bg-gray-50 whitespace-no-wrap w-2/6"
        >Email: {{email}}</span>
      </div>
      <div class="flex">
        <span
          class="text-sm border bg-blue-50 font-bold uppercase border-2 rounded-l px-4 py-2 bg-gray-50 whitespace-no-wrap w-2/6"
        >username: {{username}}</span>
      </div>
    </div>
  </div>
</div>

{{! My Events Template }}
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
  <div class="text-center pb-12">
    <h1
      class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900"
    >
      My Events
    </h1>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6"
  >
    <div
      class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center"
    >
      <div>
        <img
          class="object-center object-cover h-auto w-full"
          src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
          alt="photo"
        />
      </div>
      <div class="text-center py-8 sm:py-6">
        <p class="text-xl text-gray-700 font-bold mb-2">Dany Bailey</p>
        <p class="text-base text-gray-400 font-normal">Software Engineer</p>
      </div>
    </div>
    <div
      class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center"
    >
      <div>
        <img
          class="object-center object-cover h-auto w-full"
          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
          alt="photo"
        />
      </div>
      <div class="text-center py-8 sm:py-6">
        <p class="text-xl text-gray-700 font-bold mb-2">Lucy Carter</p>
        <p class="text-base text-gray-400 font-normal">Graphic Designer</p>
      </div>
    </div>
    <div
      class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center"
    >
      <div>
        <img
          class="object-center object-cover h-auto w-full"
          src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80"
          alt="photo"
        />
      </div>
      <div class="text-center py-8 sm:py-6">
        <p class="text-xl text-gray-700 font-bold mb-2">Jade Bradley</p>
        <p class="text-base text-gray-400 font-normal">Dev Ops</p>
      </div>
    </div>
    
<script src="../public/js/profile.js"></script>